<style>
	a { color: #ff6600; transition: .5s; -moz-transition: .5s; -webkit-transition: .5s; -o-transition: .5s; font-family: 'Muli', sans-serif; }

		a:hover { text-decoration: underline }


		h1 { padding-bottom: 15px }


		h1 a { font-family: 'Open Sans Condensed', sans-serif; font-size: 48px; color: #333; }


		h1 a:hover { color: #ff6600; text-decoration: none; }


		p { color: #333; font-family: 'Muli', sans-serif; margin-bottom: 15px; }


		a.more-link { color: white; font-weight: bold; font-size: 14px; font-family: Arial, Helvetica, sans-serif; padding: 3px 10px; background-color: #ff6600; border-radius: 5px; float: right; }


		a.more-link:hover { text-decoration: none; background-color: #666; border-radius: 0px; }
</style>


<main class="content">
	<div class="container-fluid p-0" style="width: 200%;">

		<div class="mb-3">
			<h1 class="h3 d-inline align-middle">HGB</h1>
		</div>
		<div class="row">
			<div class="col-8 col-md-3">
				<div class="card mb-3">
					<div class="card-header">
						<h5 class="card-title mb-0" style="color: #333; ">What To Know ?</h5>
					</div>
					<hr class="my-0" />
					<div class="card-body">
						<p>
							The <a href="https://www.healthline.com/health/serum-hemoglobin">"https://www.healthline.com/health/serum-hemoglobin"</a> measures how much hemoglobin your red blood cells contain.<br>
							Hgb is a protein produced by your bone marrow that’s stored in red blood cells. It helps red blood cells transport oxygen 
									from your lungs to your body through your arteries.</p>
						<p>
							It also transports carbon dioxide (CO2) from around your body back to your lungs through your veins.
							Hgb is what makes red blood cells look red.<br>
						</p>
						<p>
							Abnormally high or low Hgb can cause symptoms like <a href="https://www.healthline.com/nutrition/10-reasons-you-are-tired"> 
							https://www.healthline.com/nutrition/10-reasons-you-are-tired</a>,
							<a href="https://www.healthline.com/symptom/dizziness">https://www.healthline.com/symptom/dizziness</a>,
							 or <a href="https://www.healthline.com/health/breathing-difficulties">https://www.healthline.com/health/breathing-difficulties</a>. 
							 Your doctor may suggest an Hgb test if you’re experiencing these symptoms.<br>
							You may have an underlying condition that needs to be diagnosed.<br>
						</p>
						<p>
							Learn why you may need an Hgb test, what the <a href="https://www.healthline.com/health/normal-hemoglobin-levels">https://www.healthline.com/health/normal-hemoglobin-levels</a> are for Hgb,
							and what can cause abnormal Hgb levels.<br>
						</p>
					</div>
				</div>
			</div>
			<div class="col-8 col-md-3">
				<div class="card mb-3">
					<div class="card-header">
						<h5 class="card-title mb-0" style="color: #333; ">Why do I need the Hgb test?</h5>
					</div>
					<hr class="my-0" />
					<div class="card-body">
						<p>
							The Hgb test uses a sample of your blood to determine hemoglobin levels.</p>
						<p>
							To take a sample, your healthcare provider extracts blood from a vein by pricking
							your finger or inserting a needle with an attached tube into the crease of your arm.
							The sample is then stored in the tube to be analyzed later at a lab.<br>
						</p>
						<p>
							The needle may cause brief discomfort, but the insertion usually lasts less than a minute.
                    If you’re sensitive to getting blood drawn or the sight of blood, have someone come with
                    you and let your provider know.<br>
						</p>
						<p>
							The Hgb test may be ordered as part of a <a href="https://www.healthline.com/health/hgb#uses">https://www.healthline.com/health/hgb#uses</a> test.
							A CBC test also measures other important components of your blood,
							such as white blood cells and platelets. Abnormal levels of any of these cells can
							indicate underlying conditions or blood disorders.<br>
						</p>
					</div>
				</div>
			</div>
		</div>	
		<div class="row">
			<div class="col-8 col-md-3">
				<div class="card mb-3">
					<div class="card-header">
						<h5 class="card-title mb-0" style="color: #333; ">Here are a few other reasons your doctor may order an Hgb test:</h5>
					</div>
					<hr class="my-0" />
					<div class="card-body">
						<ul>
										<li> 
                      ou have parents or other family members who have blood disorders, such as <a href="https://www.healthline.com/health/sickle-cell-anemia">https://www.healthline.com/health/sickle-cell-anemia</a>.
                    </li>
                    <li>
                      You have an infection.
                    </li>
                    <li>
                      You don’t have enough iron in your <a href="https://www.healthline.com/health/serum-hemoglobin">https://www.healthline.com/health/serum-hemoglobin</a>
                    </li>
                    <li>
                      You’ve lost a lot of blood after surgery or a traumatic injury.
                    </li>
                    <li>
                      You’re pregnant.
                    </li>
                    <li>
                      You have a medical condition that can affect your Hgb levels.
                    </li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-8 col-md-3">
				<div class="card mb-3">
					<div class="card-header">
						<h5 class="card-title mb-0" style="color: #333; ">What are the symptoms of low hemoglobin?</h5>
					</div>
					<hr class="my-0" />
					<div class="card-body">
						<p>
							Low Hgb is also known as <a href="https://www.healthline.com/health/anemia">https://www.healthline.com/health/anemia</a> which means that you don’t have enough red blood cells in your body.
							With anemia, a blood test will also show that you have a low <a href="https://www.healthline.com/health/rbc-count">https://www.healthline.com/health/rbc-count</a> and may have low 
							<a href="https://www.healthline.com/health/hematocrit">https://www.healthline.com/health/hematocrit</a>, 
							volume of red blood cells to other components in your blood.
						</p>
						Common anemia symptoms can include:
						<ul>
							<li>
								exhaustion
							</li>

							<li>  
								<a href="https://www.healthline.com/health/paleness">https://www.healthline.com/health/paleness</a>
							</li>
	
							<li>  
								shortness of breath
							</li>
	
							<li>  
								<a href="https://www.healthline.com/health/abnormal-heart-rhythms">https://www.healthline.com/health/abnormal-heart-rhythms</a> or 
								<a href="https://www.healthline.com/health/paroxysmal-supraventricular-tachycardia-psvt">https://www.healthline.com/health/paroxysmal-supraventricular-tachycardia-psvt</a>
							</li>
	
							<li>  
								<a href="https://www.healthline.com/health/causes-of-chest-pai">https://www.healthline.com/health/causes-of-chest-pai</a>
							</li>
	
							<li>  
								cold, swollen hands or feet
							</li>
	
							<li>  
								<a href="https://www.healthline.com/health/headache">https://www.healthline.com/health/headache</a>
							</li>
	
							<li>  
								trouble with physical activity
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-8 col-md-3">
				<div class="card mb-3">
					<div class="card-header">
						<h5 class="card-title mb-0" style="color: #333; ">What are the causes of unnormal hemoglobin?</h5>
					</div>
					<hr class="my-0" />
					<div class="card-body">
						<ul>
							<li>  
                  lack of iron in your diet, which makes it harder for your bone marrow to produce Hgb
							</li>
							<li>    
                  lack of <a href="https://www.healthline.com/health/folate-deficiency">https://www.healthline.com/health/folate-deficiency</a> or <a href="https://www.healthline.com/nutrition/vitamin-b12-deficiency-symptoms">https://www.healthline.com/nutrition/vitamin-b12-deficiency-symptoms</a> 
									which can lead to your body producing fewer red blood cells
                 than are needed
							</li>
							<li>    
                  severe blood loss after surgery or a major injury
							</li>
							<li>    
                  sickle cell anemia, <a href="https://www.healthline.com/health/sickle-cell-anemia">https://www.healthline.com/health/sickle-cell-anemia</a> that causes red blood cells to be abnormally sickle-shaped
                 and able to carry less Hgb
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-8 col-md-3">
				<div class="card mb-3">
					<div class="card-header">
						<h5 class="card-title mb-0" style="color: #333; ">The takeaway</h5>
					</div>
					<hr class="my-0" />
					<div class="card-body">
						<p>
							Your doctor may recommend a Hgb test if you have symptoms of abnormal Hgb levels or if you’re 
							pregnant.</p>
						<p>
							The earlier you notice the symptoms of abnormal Hgb levels and have the cause diagnosed,
							the more likely you are to have successful treatment.<br>
						</p>
						<p>
							See your doctor if you’re experiencing any symptoms of high or low Hgb. If you have a family 
                history of blood disorders or conditions that can affect bone marrow or red blood cell 
                production, you’ll likely need regular Hgb tests along with a CBC to monitor how these 
                health problems may be affecting your blood cells.<br>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</main>
