<style>
	a { color: #ff6600; transition: .5s; -moz-transition: .5s; -webkit-transition: .5s; -o-transition: .5s; font-family: 'Muli', sans-serif; }

		a:hover { text-decoration: underline }


		h1 { padding-bottom: 15px }


		h1 a { font-family: 'Open Sans Condensed', sans-serif; font-size: 48px; color: #333; }


		h1 a:hover { color: #ff6600; text-decoration: none; }


		p { color: #333; font-family: 'Muli', sans-serif; margin-bottom: 15px; }


		a.more-link { color: white; font-weight: bold; font-size: 14px; font-family: Arial, Helvetica, sans-serif; padding: 3px 10px; background-color: #ff6600; border-radius: 5px; float: right; }


		a.more-link:hover { text-decoration: none; background-color: #666; border-radius: 0px; }
</style>


<main class="content">
	<div class="container-fluid p-0" style="width: 200%;">

		<div class="mb-3">
			<h1 class="h3 d-inline align-middle">HGB</h1>
		</div>
		<div class="row">
			<div class="col-8 col-md-3">
				<div class="card mb-3">
					<div class="card-header">
						<h5 class="card-title mb-0" style="color: #333; ">Red blood cell count</h5>
					</div>
					<hr class="my-0" />
					<div class="card-body">
						<p>
              Red blood cells contain a substance called haemoglobin, which transports oxygen around the body. 
            </p>
						<p>
							The amount of oxygen that's delivered to your body's tissues depends on the number of red blood cells you have and how well they work.<br>
                A RBC count is usually carried out as part of a full blood cell (FBC) count. <br>
                Women usually have a lower RBC count than men, and the level of red blood cells tends to decrease with age.<br>
						</p>
					</div>
				</div>
			</div>
			<div class="col-8 col-md-3">
				<div class="card mb-3">
					<div class="card-header">
						<h5 class="card-title mb-0" style="color: #333; ">A normal RBC count would be:</h5>
					</div>
					<hr class="my-0" />
					<div class="card-body">
            <p><strong>Men:</strong> 4.7 to 6.1 million cells per microlitre (cells/mcL)</p>
            <p><strong>Women:</strong> 4.2 to 5.4 million per microlitre (cells/mcL)</p>
						<p>
              The results of an RBC count can be used to help diagnose blood-related conditions, such as <a href="https://www.nhs.uk/conditions/iron-deficiency-anaemia/">https://www.nhs.uk/conditions/iron-deficiency-anaemia/</a>
               (where there are less red blood cells than normal).<br>
              
              A low RBC count could also indicate a vitamin B6, <a href="https://www.nhs.uk/conditions/vitamin-b12-or-folate-deficiency-anaemia/">https://www.nhs.uk/conditions/vitamin-b12-or-folate-deficiency-anaemia/</a><br>

              It may also signify internal bleeding, <a href="https://www.nhs.uk/conditions/kidney-disease/">https://www.nhs.uk/conditions/kidney-disease/</a> 
              or <a href="https://www.nhs.uk/conditions/malnutrition/">https://www.nhs.uk/conditions/malnutrition/</a> 
              (where a person's diet doesn't contain enough nutrients to meet their body's needs).<br>
            </p>
					</div>
				</div>
			</div>
		</div>	
		<div class="row">
			<div class="col-8 col-md-3">
				<div class="card mb-3">
					<div class="card-header">
						<h5 class="card-title mb-0" style="color: #333; ">A high RBC count could be caused by a number of health conditions or health-related factors, including:</h5>
					</div>
					<hr class="my-0" />
					<div class="card-body">
						<ul>
              <li>
                <a href="https://www.nhs.uk/live-well/quit-smoking/">https://www.nhs.uk/live-well/quit-smoking/</a>
              </li>
              <li>
                <a href="https://www.nhs.uk/conditions/congenital-heart-disease/">https://www.nhs.uk/conditions/congenital-heart-disease/</a>
              </li>
              <li>
                <a href="https://www.nhs.uk/conditions/dehydration/">https://www.nhs.uk/conditions/dehydration/</a> 
                (for example, from severe <a href="https://www.nhs.uk/conditions/diarrhoea-and-vomiting/">https://www.nhs.uk/conditions/diarrhoea-and-vomiting/</a>)
              </li>
              <li>
                low blood oxygen levels (hypoxia)
              </li>
              <li>
                <a href="https://www.nhs.uk/conditions/idiopathic-pulmonary-fibrosis/">https://www.nhs.uk/conditions/idiopathic-pulmonary-fibrosis/</a> (a lung condition that causes scarring of the lungs)
              </li>
						</ul>
            <p>
              Read more about the <a href="https://labtestsonline.org.uk/tests/red-blood-cell-count">https://labtestsonline.org.uk/tests/red-blood-cell-count</a> at Lab Tests Online UK.
            </p>
					</div>
				</div>
			</div>
		</div>
	</div>
</main>
